# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
venv/
env/
.venv/

# Database
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
dist/
.cache/
*.local

# Misc
.DS_Store
.idea/
.vscode/
*.log
static/images/*.jpg
static/images/*.jpeg
static/images/*.png
static/images/*.gif
!static/images/.gitkeep
